body {
    background-color: grey;;
}
.container {
display: flex;
justify-content: center;
align-items: center;

}
.animal-info {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: center;
}
.animal-heading {
padding-top: 1rem;
font-size: 30px;
}
.animal-image {
padding-top: 1rem;
}
.animal-button {
    margin-top: 1rem;
    width: 7rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: green;
    outline: 0;
    border: none

}